@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dark {
    background-color: #243f52;
}

.header-icon {
    font-family: "Roboto", sans-serif;
}

.service-item img {
    width: 50px;
    height: 50px;
}

.vertical-line {
    border-left: 2px solid #d6d3d3;
    margin-left: 18px;
    height: 50%;
}

/* Centers images horizontally and vertically */
.image-container,
.image-2-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Alignments for Small Screens */
@media (max-width: 576px) { 
    .image-container img,
    .image-2-cont img {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .image-2-cont {
        padding-left: 35px;
    }

    .navbar-nav {
        flex-direction: column; /* Aligns navbar items in a single column */
        text-align: center;
    }

    .service-item {
        margin: 0 auto; /* Centers service items */
    }
}

/* Ensures testimonial cards align properly for smaller screens */
.sec {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Footer alignment */
section.dark ul {
    padding: 0;
    list-style-type: none;
}

section.dark h5 {
    text-align: center;
}

